﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.CHUCVU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChucVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChucVu)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaChucVu }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaChucVu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaChucVu })
        </td>
    </tr>
}

</table>
