﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.DONDATVE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom" style="font-family:Arial">
    <h2 style="font-family:Arial">Quản lý đơn đặt vé</h2>
    <h1 style="font-weight:bold;color:red">@TempData["CanhBao4"]</h1>
    <p>@Html.ActionLink("Xem chi tiết đơn đặt vé", "Index", "AdminChiTietDonDatVe")</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayMuaVe)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ThanhTien)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DeleteFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteTime)
            </th>
            <th>

            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDDV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACHHANG.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayMuaVe)
                </td>
                
                <td>
                    @*@Html.DisplayFor(modelItem => item.ThanhTien)*@
                    @string.Format("{0:0,0}", item.ThanhTien) VNĐ
                </td>

               
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteTime)
                </td>
                <td>
                </td>

            </tr>

        }

    </table>
</div>