﻿@using HeThongQuanLyBanVeMayBay.Models
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<body style="font-family:Arial">
    <section class="contact-w3ls">
        <div class="container">
            <h3 class="agile-title" style="font-weight:bold">Đăng Nhập</h3>
            <div class="w3layouts_header">
                <p><span><i class="fa fa-plane sub-w3l" aria-hidden="true"></i></span></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left" style="margin-left:25%">
                <div class="contact-agileits">
                    <div class="alert alert-info" role="alert" style="font-family:Arial;font-size:130%">
                        <strong>Lưu ý! </strong> bật/tắt Capslock hoặc trình gõ dấu để tránh lỗi đăng nhập.
                    </div>
                    <p style="color:red;font-family:Arial">@ViewData["loi0"] @ViewData["loi1"] @ViewData["loi2"]</p>
                    <h4 style="color:red;text-align:center;font-family:Arial">
                        @ViewBag.ThongBao @TempData["CanhBao"]
                    </h4>
                    @using (Html.BeginForm())
                    {

                        <form action="#" method="post">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label class="contact-p1">ID:</label>
                                    <input type="text" name="tenDN" class="form-control" />
                                    <p class="help-block"></p>
                                </div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls">
                                    <label class="contact-p1">Password:</label>
                                    <input type="password" name="matkhau" class="form-control" />
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div id="success">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</div>
                            <!-- For success/fail messages -->
                            <button type="submit" class="btn btn-primary">SUBMIT</button>
                        </form>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</body>

