﻿@using HeThongQuanLyBanVeMayBay.Models
@{
    ViewBag.Title = "TrangChuAdmin";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">
        <div class="container">
            <h1 style="color:red;font-weight:bold">@TempData["CanhBao1"] @TempData["CanhBao2"]</h1><br />
            <h3 class="agile-title" style="font-family:Arial"><strong>Hi! @SESSION.TenUser </strong> Ngày mới tốt lành!</h3>
            <div class="w3layouts_header">
                <p><span><i class="fa fa-plane sub-w3l" aria-hidden="true"></i></span></p>
            </div>
            @if (SESSION.MaGp.Equals("Admin"))
            {
                <h3 style="font-family:Arial">Hãy bắt đầu 1 ngày làm việc mới của sếp nào :D</h3>
                <p class="text-w3l-services">Tiến hành tương tác với giao diện để quản lý tất cả các thứ, các cái, good luck boss</p>
            }
            else
            {
                <h3 style="font-family:Arial">Chào mừng chú đến với địa ngục trần giang</h3>
                <p class="text-w3l-services">Hãy bắt đầu công việc của chú như bao ngày tẻ nhạt khác. Stay alive !!!</p>
            }
        </div>
    </div>

</body>
