﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tourism a Travel Category Flat bootstrap Responsive website Template | Home :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tourism web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Coda:400,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body style="font-family:Arial">
    @RenderBody()
    <!-- //banner-text -->
    <!-- //banner -->
    <!-- header -->
    <div class="header-w3layouts">
        <!-- Navigation -->
            <div class="logo-agile-1">
                <h1><a class="logo"><i class="fa fa-plane" aria-hidden="true"></i>Exploding Kitten's Airjet</a></h1>
            </div>
    </div>
    <!-- //header -->
   
    <!-- stats -->
    <div class="stats">
        <div class="container">
            <div class="stats-info">
                <div class="col-md-3 col-sm-3 stats-grid slideanim">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1200' data-delay='.5' data-increment="1">1200</div>
                    <h4 class="stats-info">CUSTOMERS</h4>
                </div>
                <div class="col-md-3 col-sm-3 stats-grid slideanim">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3000' data-delay='.5' data-increment="1">3000</div>
                    <h4 class="stats-info">DESTINATIONS</h4>
                </div>
                <div class="col-md-3 col-sm-3 stats-grid slideanim">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9000' data-delay='.5' data-increment="10">9000</div>
                    <h4 class="stats-info">TOURS</h4>
                </div>
                <div class="col-md-3 col-sm-3 stats-grid slideanim">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5' data-increment="1">169</div>
                    <h4 class="stats-info">TOUR TYPES</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //stats -->
   
   
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- smooth scrolling -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->
    <!-- Easy Responsivetabs -->
    <script src="~/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true   // 100% fit in a container
			});
		});
    </script>
    <!-- //Easy Responsivetabs -->
    <!-- strat-date-piker -->
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <script src="~/js/jquery-ui.js"></script>
    <script>
			  $(function() {
				$( "#datepicker,#datepicker1" ).datepicker();
			  });
    </script>
    <!-- //End-date-piker -->
    <!-- Numscroller -->
    <script type="text/javascript" src="~/js/numscroller-1.0.js"></script>
    <!-- //Numscroller -->
    <!-- //js-scripts -->
</body>
</html>
