﻿<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
@using HeThongQuanLyBanVeMayBay.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Exploding Kitten's AirJet</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Exploding Kitten's AirJet" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Coda:400,800&amp;subset=latin-ext" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<body style="font-family:Arial">
    @RenderBody()

    <!-- header -->
    <div class="header-w3layouts">
        <!-- Navigation -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Tourism</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="logo-agile-1">
                <h1><a class="logo" href="index.html"><i class="fa fa-plane" aria-hidden="true"></i>Exploding Kitten's AirJet</a></h1>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right" style="font-family:Arial, Helvetica, sans-serif">
                    @*@if (SESSION.MaGp.Equals("Admin"))
                        {
                            <li class="">@Html.ActionLink("Trang Chủ", "Home", "MainLogin")</li>
                            <li class="dropdown menu__item menu__item--current m_nav_item">
                                <a href="#" class="dropdown-toggle menu__link link link--kumya" data-toggle="dropdown"><span data-letters="Short Codes">Danh mục<b class="caret"></b></span></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li class="">@Html.ActionLink("Quản lý nhân viên", "Index", "NHANVIENs")</li>
                                    <li class="">@Html.ActionLink("Q.lý phiếu đặt chỗ", "Index", "PHIEUDATCHOes1")</li>
                                    <li class="">@Html.ActionLink("Quản lý chuyến bay", "Index", "CHUYENBAYS")</li>
                                    <li class="">@Html.ActionLink("Quản lý tuyến bay", " ", " ")</li>
                                    <li class="">@Html.ActionLink("Quản lý vé", " ", " ")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Logout", "Dangxuat", "MainLogin")</li>
                        }*@
                    <li class="">@Html.ActionLink("Giao diện quản lý", "DangNhap", "Admin")</li>
                    <li class="dropdown menu__item menu__item--current m_nav_item">
                        <a href="#" class="dropdown-toggle menu__link link link--kumya" data-toggle="dropdown"><span data-letters="Short Codes">Danh mục<b class="caret"></b></span></a>
                        <ul class="dropdown-menu agile_short_dropdown">
                            <li class="">@Html.ActionLink("Xem chuyến bay", "XemChuyenBay", "KhachHang")</li>
                            <li class="">@Html.ActionLink("Mua vé bay", "DangNhap", "KhachHang")</li>
                        </ul>
                    </li>
                </ul>
            </div>


            <!-- //navbar-collapse -->
        </nav>
    </div>
    <!-- //header -->
    <!-- team -->
    <div class="team">
        <div class="container">
            <h3 class="agile-title">Developers</h3>
            <div class="w3layouts_header">
                <p><span><i class="fa fa-plane sub-w3l" aria-hidden="true"></i></span></p>
            </div>
            <div class="wthree_team_grids">
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/images/1a.jpg" alt=" " class="img-responsive" style="height:250px;width:250px" style="height:250px" />
                        <div class="overlay">

                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.facebook.com/thainhatcuong1996">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>Thái Nhật Cường</h4>
                    <p>Main Coder</p>
                </div>
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/images/2a.jpg" alt=" " class="img-responsive" style="height:250px;width:250px" />

                        <div class="overlay">

                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.facebook.com/BinhAn291196">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>Bình An</h4>
                    <p>UI-Designer</p>
                </div>
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/images/3a.jpg" alt=" " class="img-responsive" style="height:250px;width:250px" />
                        <div class="overlay">

                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.facebook.com/hieu.41196">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>Nguyễn Hiếy</h4>
                    <p>Database-Designer</p>
                </div>
                <div class="col-md-3 wthree_team_grid">
                    <div class="hovereffect">
                        <img src="~/images/4a.jpg" alt=" " class="img-responsive" style="height:250px;width:250px" />
                        <div class="overlay">

                            <div class="rotate">
                                <p class="group1">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="https://www.facebook.com/nhhao1996">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </p>
                                <hr>
                                <hr>
                                <p class="group2">
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h4>Hào Nguyễn</h4>
                    <p>Tester</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- footer -->
    <footer style="font-family:Arial">
        <div class="agileinfo-footer">
            <div class="container">
                <div class="agileits-footer-top">
                    <div class="col-sm-4 w3ls-address-grid">
                        <i class="glyphicon glyphicon-map-marker"></i>
                        <div class="w3-address1">
                            <p style="font-family:Arial">
                                155 Sư Vạn Hạnh, P13, Q10, TP.HCM
                            </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-sm-4 w3ls-address-grid">
                        <i class="glyphicon glyphicon-phone"></i>
                        <div class="w3-address1">
                            <p style="font-family:Arial">(+84 8) 38 632 052</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-sm-4 w3ls-address-grid">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <div class="w3-address1">
                            <p style="font-family:Arial"><a href="mailto:info@example.com"> contact@huflit.edu.vn</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- newsletter -->
                @*<div class="w3layouts-newsletter">
                        <div class="col-md-5 wthree-join">
                            <h2><i class="fa fa-envelope" aria-hidden="true"></i>Join our Newsletter</h2>
                        </div>
                        <div class="col-md-7 agileinfo-newsletter">
                            <form action="#" method="post">
                                <input type="email" placeholder="Enter Your Email" name="email" required="" />
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                        <div class="clearfix"> </div>
                    </div>*@
                <!-- //newsletter -->
                <!-- Counter -->
                <div class="services-bottom">
                    <div class="counter-agile">
                        <div class="counter-subw3l">
                            <p><a href="index.html"><i class="fa fa-plane" aria-hidden="true"></i>E.K's Airjet</a></p>
                        </div>
                        <div class="ftr-menu">
                            <ul>
                                <li><a class="active" href="index.html">Trang chủ </a></li>
                                <li><a class="" href="services.html">Lịch bay</a></li>
                                <li><a class="" href="gallery.html">Gallery</a></li>
                                <li><a class="" href="icons.html">Web Icons</a></li>
                                <li><a class="" href="typography.html">Typography</a></li>
                                @*<li><a class="" href="contact.html">Contact Us</a></li>*@
                            </ul>
                        </div>
                        <div class="counter-subw3l w3l-right-footer">
                            <ul class="w3layouts-agileits-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#"><i class="fa fa-vk"></i></a></li>
                            </ul>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!-- //Counter -->
            </div>
            <div class="agileits-footer-bottom">
                <p class="footer-class">&copy; 2017 Tourism. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- js-scripts -->
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- smooth scrolling -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smooth scrolling -->
    <!-- Easy Responsivetabs -->
    <script src="~/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true   // 100% fit in a container
            });
        });
    </script>
    <!-- //Easy Responsivetabs -->
    <!-- strat-date-piker -->
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <script src="~/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });
    </script>
    <!-- //End-date-piker -->
    <!-- Numscroller -->
    <script type="text/javascript" src="~/js/numscroller-1.0.js"></script>
    <!-- //Numscroller -->
    <!-- //js-scripts -->
</body>
</html>