﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.CT_DDV>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom" style="font-family:Arial">
    <h2 style="font-family:Arial">Chi tiết đơn đặt vé</h2>

    <h1 style="font-family:Arial;font-weight:bold;color:red"> @TempData["BaoLoi"] @TempData["ThanhCong"] @TempData["CanhBao1"] @TempData["CanhBao2"]</h1>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DONDATVE.MaDDV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VE.MaChuyenBay)
            </th>
            <th>
                Giá mỗi vé
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteTime)
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDDV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VE.MaChuyenBay)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.GiaVe)*@
                    @string.Format("{0:0,0}", item.GiaVe) VNĐ
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongDat)
                </td>
                @if (item.DaThanhToan == 0)
                {
                    <td>
                        @Html.DisplayName("Chưa thanh toán")
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayName("Đã thanh toán")
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteTime)
                </td>
                <td>
                    @if (item.DaThanhToan == 0)
                    {
                        <a href=@Url.Action("ChuyenDonHang", "AdminChiTietDonDatVe", new { DonHangID = item.MaDDV })>Thanh toán</a>
                    }
                </td>
            </tr>
        }

    </table>
</div>