﻿@model HeThongQuanLyBanVeMayBay.Models.CHUYENBAY

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom">
    <h3>Có chắc là muốn xóa không ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Khởi hành
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SanBayDi)
            </dd>

            <dt>
                Điểm đến
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SanBayDen)
            </dd>

            <dt>
                Thời gian bay
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGianBay)
            </dd>

            <dt>
                Thời gian đến
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGianDen)
            </dd>

            <dt>
                Tình trạng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrinhTrang)
            </dd>

            <dt>
                Số ghế người lớn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGheNguoiLon)
            </dd>

            <dt>
                Số ghế trẻ em
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGheTreEm)
            </dd>

            <dt>
                Số ghế em bé
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGheEmBe)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>