﻿@model HeThongQuanLyBanVeMayBay.Models.CHUYENBAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom">
    <div>
        <h2>Chi tiết chuyến bay</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SanBayDi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SanBayDi)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.SanBayDen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SanBayDen)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.ThoiGianBay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGianBay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThoiGianDen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThoiGianDen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrinhTrang)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrinhTrang)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoGheNguoiLon)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGheNguoiLon)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.SoGheTreEm)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGheTreEm)
            </dd>

            <dt>
               @Html.DisplayNameFor(model => model.SoGheEmBe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoGheEmBe)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaChuyenBay }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>