﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.CHUYENBAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom">
    <h2 style="font-family:Arial">Quản lý chuyến bay</h2>
    <h1 style="color:red;font-weight:bold">@TempData["CanhBao1"] @TempData["CanhBao2"] @TempData["CanhBao3"] @TempData["CanhBao4"] @TempData["CanhBao5"] @TempData["Tam"]</h1><br />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanBayDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanBayDen)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.ThoiGianBay)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.ThoiGianDen)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.TrinhTrang)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.SoGheNguoiLon)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.SoGheTreEm)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.SoGheEmBe)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianBay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianDen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrinhTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGheNguoiLon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGheTreEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGheEmBe)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaChuyenBay }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaChuyenBay }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaChuyenBay })
                </td>
            </tr>
        }

    </table>
</div>