﻿@model HeThongQuanLyBanVeMayBay.Models.VE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom">
    <h2>Chi tiết vé</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CHUYENBAY.MaChuyenBay)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CHUYENBAY.MaChuyenBay)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LOAIVE.TenLoaiVe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LOAIVE.TenLoaiVe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoLuong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoLuong)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GiaVe)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GiaVe)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeleteFlag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeleteFlag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DeleteTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeleteTime)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaVe }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>