﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.VE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom">
    <h2 style="font-family:Arial">Quản lý vé</h2>
    <h1 style="color:red;font-weight:bold">@TempData["CanhBao1"] @TempData["CanhBao2"] @TempData["CanhBao3"] @TempData["CanhBao4"] @TempData["CanhBao5"] @TempData["Tam"]</h1><br />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CHUYENBAY.MaChuyenBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOAIVE.TenLoaiVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CHUYENBAY.MaChuyenBay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOAIVE.TenLoaiVe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaVe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeleteTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaVe }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaVe }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaVe })
                </td>
            </tr>
        }

    </table>
</div>