﻿
@{
    ViewBag.Title = "ChiTietVeBayLogged";
    Layout = "~/Views/Shared/_KhachHangLogged.cshtml";
}
<style type="text/css">
    table.table-style-one {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #3A3A3A;
        border-collapse: collapse;
    }

        table.table-style-one th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #3A3A3A;
            background-color: #B3B3B3;
        }

        table.table-style-one td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #3A3A3A;
            background-color: #ffffff;
        }
</style>
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">
        <div class="container">
            <table class="table-style-one">
                <tr>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>

                <tr>
                    <td>
                        <p style="font-weight:bold">@Model.MaVe</p>
                    </td>

                    <td>
                        <p style="font-weight:bold">@Model.LOAIVE.TenLoaiVe</p>
                    </td>
                    <td>
                        <p style="font-weight:bold">@Model.CHUYENBAY.SanBayDi</p>
                    </td>
                    <td>
                        <p style="font-weight:bold">@Model.CHUYENBAY.SanBayDen</p>
                    </td>
                    <td>
                        <p>@string.Format("{0:0,0}", Model.GiaVe) VNĐ</p>
                    </td>
                    <td>
                        <a href="@Url.Action("ThemGioHang", "KhachHang", new { @MaVe = @Model.MaVe,@strURL=Request.Url.ToString()})"><input value="Đặt vé" type="button" /> </a>
                    </td>

                </tr>

            </table>

        </div>
    </div>

</body>

