﻿
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">

        <section class="contact-w3ls">
            <div class="container">
                <h3 class="agile-title" style="font-weight:bold">Đăng Nhập</h3>
                <div class="w3layouts_header">
                    <p><span><i class="fa fa-plane sub-w3l" aria-hidden="true"></i></span></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left" style="margin-left:25%">
                    <div class="contact-agileits">
                        <div class="alert alert-info" role="alert" style="font-family:Arial;font-size:130%">
                            <strong>Lưu ý! </strong> bật/tắt Capslock hoặc trình gõ dấu để tránh lỗi đăng nhập.

                        </div>
                        <a href="@Url.Action("DangKy","KhachHang")" style="color:gold;font-family:Arial" class="lienket">tạo tài khoản tại đây</a>
                        <p style="color:red">@ViewData["loi3"] @ViewData["loi4"] @ViewData["loi5"]</p>
                        <h4 style="color:red;text-align:center">
                            @ViewBag.ThongBao
                        </h4>
                        @using (Html.BeginForm())
                        {

                            <form action="#" method="post">
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label class="contact-p1">ID:</label>
                                        <input type="text" name="tenDN" class="form-control" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>

                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label class="contact-p1">Password:</label>
                                        <input type="password" name="matkhau" class="form-control" />
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div id="success">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</div>
                                <!-- For success/fail messages -->
                                <button type="submit" class="btn btn-primary">SUBMIT</button>
                            </form>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    </div>
</body>

