﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.VE>
@{
    ViewBag.Title = "DanhSachVeLogged";
    Layout = "~/Views/Shared/_KhachHangLogged.cshtml";
}
<style type="text/css">
    table.table-style-one {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #3A3A3A;
        border-collapse: collapse;
    }

        table.table-style-one th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #3A3A3A;
            background-color: #B3B3B3;
        }

        table.table-style-one td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #3A3A3A;
            background-color: #ffffff;
        }
</style>
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">
        <div class="container">
          <h1 style="color:red;font-family:Arial">@TempData["ThongBaoSttGioHang"]  @TempData["ThongBaoSttGioHang1"] @TempData["GioHangError"]</h1>  
            <table class="table-style-one">
                <tr></tr>
                @foreach (var ve in Model)
                {
                    <tr>
                        <td>
                            <p style="font-weight:bold">@ve.MaVe</p>
                        </td>

                        <td>
                            <p style="font-weight:bold">@ve.LOAIVE.TenLoaiVe</p>
                        </td>
                        <td>
                            <p style="font-weight:bold">@ve.CHUYENBAY.SanBayDi</p>
                        </td>
                        <td>
                            <p style="font-weight:bold">@ve.CHUYENBAY.SanBayDen</p>
                        </td>
                        <td>
                            <p>@string.Format("{0:0,0}", ve.GiaVe) VNĐ</p>
                        </td>
                        <td>
                            <a href="@Url.Action("ChiTietVeBayLogged", "KhachHang", new { id = ve.MaVe})">Đặt vé </a>
                        </td>

                    </tr>
                }
            </table>

        </div>
    </div>

</body>
