﻿@using HeThongQuanLyBanVeMayBay.Models
@model List<Giohang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_KhachHangLogged.cshtml";
}
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">
        <div class="container">
            <h2 style="color:#ff0000;font-size:200%;text-align:center">Thông tin đặt vé</h2>
            <table style="border:double;background-color:#00ff90;margin-left:300px">
                <tr style="text-align:center;font-weight:bold">
                    <td>Mã vé</td>
                    <td>Mã chuyến bay</td>
                    <td>Số lượng</td>
                    <td>Giá</td>
                    <td>Thành tiền</td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr style="text-align:center;font-weight:bold">
                        <td style="border:double">@item.MaVe</td>
                        <td style="border:double">@item.MaChuyenBay</td>
                        @using (Html.BeginForm("CapNhatGioHang", "KhachHang", new { @iMaVe = item.MaVe }))
                        {
                            <td style="border:double">@item.SoLuong</td>
                            <td style="border:double">@String.Format("{0:0,0}", item.GiaVe)</td>
                            <td style="border:double">@String.Format("{0:0,0}", item.dThanhTien)</td>
                        }
                    </tr>
                }
                <tr style="font-weight:bold;text-align:right;color:red">
                    <td colspan="3" style="border:double">Số lượng vé: @ViewBag.TongSoLuong</td>
                    <td colspan="3" style="border:double">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
                </tr>

                <tr style="font-weight:bold;color:blue;text-align:right">
                    <td colspan="6">
                        @Html.ActionLink("Trở về giỏ hàng", "GioHang", "KhachHang")
                    </td>
                </tr>
            </table>

            <h2 style="color:#ff0000;font-size:200%;text-align:center">Tiến hành đặt vé</h2>
            <table style="border:double;background-color:#00ff90;margin-left:300px">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <tr style="height:40px">
                        <td>Họ tên khách hàng: </td>
                        @*<td style="font-weight:bold">@kh.CustName</td>*@
                        <td style="font-weight:bold">@SESSION.TenUser</td>
                    </tr>
                    <tr style="height:40px">
                        <td>Ngày đặt: </td>
                        <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
                    </tr>
                    <tr style="height:40px">
                        <td></td>
                        <td><input type="submit" value="Đồng ý đặt hàng" /></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>