﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.VE>
@using HeThongQuanLyBanVeMayBay.Models
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_KhachHangLogged.cshtml";
    var list = Session["Giohang"] as List<Giohang>;
}
<style type="text/css">
    table.table-style-one {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #3A3A3A;
        border-collapse: collapse;
    }

        table.table-style-one th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #3A3A3A;
            background-color: #B3B3B3;
        }

        table.table-style-one td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #3A3A3A;
            background-color: #ffffff;
        }
</style>
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">
        <div class="container">
            <table class="table-style-one">
                <tr>
                    <td>Mã vé</td>
                    <td>Mã chuyến bay</td>
                    <td>Số lượng</td>
                    <td>Giá</td>
                    <td>Thành tiền</td>
                </tr>
                @foreach (var item in list)
                {
                    <tr style="text-align:center">
                        <td>@item.MaVe</td>
                        <td>@item.MaChuyenBay</td>
                        @using (Html.BeginForm("CapNhatGioHang", "KhachHang", new { @iMaVe = item.MaVe }))
                        {
                            <td>
                                <input type="number" min="1" max="100" name="txtSoluong" value="@item.SoLuong" style="background-color:yellow" />
                            </td>
                            <td>@String.Format("{0:0,0}", item.GiaVe)</td>
                            <td>@String.Format("{0:0,0}", item.dThanhTien)</td>
                            <td>@Html.ActionLink("Xóa", "XoaGioHang", new { @iMaVe = item.MaVe })</td>
                            <td><input type="submit" value="Cập nhật" /></td>
                        }
                    </tr>
                }
                <tr style="font-weight:bold;text-align:right;color:red">
                    <td colspan="4">Số lượng vé: @ViewBag.TongSoLuong</td>
                    <td colspan="2">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>
                    </tr>
                        <tr style="font-weight:bold;text-align:right;color:red">
                            <td colspan="6">
                                @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
                            </td>
                        </tr>
                <tr style="font-weight:bold;text-align:right;color:red">
                    <td colspan="6" style="text-align:center">
                        @Html.ActionLink("Đặt hàng", "DatHang", "KhachHang")
                    </td>
                </tr>

            </table>
        </div>
    </div>
</body>