﻿@using HeThongQuanLyBanVeMayBay.Models
@{
    ViewBag.Title = "TrangChuLogged";
    Layout = "~/Views/Shared/_KhachHangLogged.cshtml";
}
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">
        <div class="container">
            <h3 class="agile-title" style="font-family:Arial"><strong>Hi! @SESSION.TenUser </strong> Ngày mới tốt lành!</h3>
            <div class="w3layouts_header">
                <p><span><i class="fa fa-plane sub-w3l" aria-hidden="true"></i></span></p>
            </div>
            @if (SESSION.TenUser != null)
            {
                <h3 style="font-family:Arial">Vui lòng tương tác với tab mua vé</h3>
            }
        </div>
    </div>

</body>

