﻿
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_KhachHangLogged.cshtml";
}
<body>
    <div class="main-agile banner-2">
    </div>
    <div class="banner-bottom">
        <div class="container">
            <h1 style="font-size:300%;font-family:Arial">Đơn đặt vé của quý vị đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ trong thời gian sớm nhất. Okela !!</h1>
            <p>@Html.ActionLink("Về lại trang chủ", "TrangChuLogged", "KhachHang")</p>
        </div>
    </div>
</body>

