﻿@model IEnumerable<HeThongQuanLyBanVeMayBay.Models.CHUYENBAY>
@{
    ViewBag.Title = "XemChuyenBay";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="main-agile banner-2">
</div>
<div class="banner-bottom" style="font-family:Arial">
    <h2 style="font-family:Arial">Tra cứu chuyến bay</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanBayDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanBayDen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianBay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianDen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoGheNguoiLon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoGheTreEm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoGheEmBe)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SanBayDen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianBay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianDen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrinhTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGheNguoiLon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGheTreEm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoGheEmBe)
                </td>
                <td></td>
            </tr>
        }

    </table>
</div>
